@charset "UTF-8";

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-decoration: underline;
}

h1#principal{
    /*Não precisa colocar o nome do elemento. Só o "#principal"*/
    
    /*Colocando o "h1", especifica que é o principal do h1 (caso tenha h2#principal...)*/
    text-align: center;
}

h2{
    color: coral;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/*Também pode colocar o elemento na frente, mas por ser uma classe, não se costuma colocar.*/
.basics{
    color: chartreuse;
}

.normal{
    color: deepskyblue;
}

.advanced{
    color: turquoise;
}